  <div class="container">
    <%= image_tag "ga.png", alt: "Le Wagon", class: "avatar"%>
    <a href="produtos/new"><sub>criar produto</sub></a>
  </div>
  <div class="container">
    <p><sup>Loja do</sup> Rock n Roller <a href="produtos"><sub>ver guitas</sub></a></p>
  </div>
